<html>
  <head>
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/pure-min.css">
    <style>
        body {
            margin: 20px;
        }
    </style>
  </head>
  <body>
    <a href="/">Go Back</a>
    <form action="/signup/create" method="POST" class="pure-form pure-form-aligned">
      <fieldset>
        <div class="pure-control-group">
          <label for="email">E-mail</label>
          <input class="pure-input-1-4" type="email" name="email" id="email" placeholder="Please enter your E-mail address"/>
          <% if @errors and @errors.for(:email).any? %>
              <p>Please enter a valid E-mail address</p>
          <% end %>
        </div>
        <div class="pure-control-group">
          <label for="password">Password</label>
          <input class="pure-input-1-4" type="password" name="password" id="password" placeholder="Please enter a password"/>
          <% if @errors and @errors.for(:password).any? %>
              <% @errors.for(:password).each do |error| %>
                  <% if error.validation == :presence %>
                      <p>Please enter a valid password</p>
                  <% end %>
                  <% if error.validation == :confirmation %>
                      <p>Please ensure password and confirmation match</p>
                  <% end %>
              <% end %>
          <% end %>
        </div>
        <div class="pure-control-group">
          <label for="password_confirmation">Password Confirmation</label>
          <input class="pure-input-1-4" type="password" name="password_confirmation" id="password_confirmation" placeholder="Please enter your password again"/>
          <% if @errors and @errors.for(:password).any? %>
              <% @errors.for(:password).each do |error| %>
                  <% if error.validation == :confirmation %>
                      <p>Please ensure password and confirmation match</p>
                  <% end %>
              <% end %>
          <% end %>
        </div>
        <input type="hidden" name="csrf_token" value="<%= @csrf_token %>">
        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">Sign up</button>
        </div>
      </fieldset>
    </form>
  </body>
</html>
