<html>
  <head>
    <title>Hello <%= @message %>!</title>
    <link rel="stylesheet" href="/css/pure-min.css">
    <style>
      body {
          margin: 20px;
      }
    </style>
  </head>
  <body>
    <h1>Hello <%= @message %>!</h1>
    <a href="/signup">Sign up</a>
  </body>
</html>
